[Desktop Entry]
Encoding=UTF-8
Name=Link to Notes SQL - Online LaTeX Editor Overleaf
Type=Link
URL=https://www.overleaf.com/project/5be0199336f1b7443a4b6496
Icon=text-html
Name[en_US]=paper_writing
