[Desktop Entry]
Encoding=UTF-8
Name=Link to Notes SQL - Online LaTeX Editor Overleaf
Type=Link
URL=https://www.overleaf.com/project/5be0199336f1b7443a4b6496/output/output.pdf?compileGroup=standard&amp;clsiserverid=clsi-pre-emp-7f74&amp;popupDownload=true
Icon=text-html
Name[en_US]=paper_reading
