[Desktop Entry]
Encoding=UTF-8
Name=Link to Notes SQL - Online LaTeX Editor Overleaf
Type=Link
URL=https://www.overleaf.com/project/5bdb3597e7b44c45d5afed31
Icon=text-html
Name[en_US]=paper_writing
